.card-image {
  background-color: white;
  border-radius: 40px;
  margin: 10px 0;
  height: 6rem;
  display:flex;
}

.card-image img{
  background-color: white;
  margin: auto;
}


h5{
  margin-top: 20px;
}


p {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}


h4 {
  font-family: 'Poppins Medium';
}